{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-6">
    <div class="card card__beers">
      <div class="card-body">
        <h5 class="card-title">{{ beer.name }}</h5>
        <p>Description: {{ beer.description }}</p>
        <p>Price : {{ beer.price ?? 'aucune information' }} </p>
        <p>Degree : {{ beer.degree }} </p>
         {% if beer.country  %}
            <p> Country : {{ beer.country.name}} </p>
        {% else %}
            <p>No country</p>
        {% endif %}
        <p>Category</p>
        {% for category in beer.categories %}
        <ul>
            <li>{{category.name}}</li>
        </ul>
        {% endfor %}
        <p><small>Date d'invention : {{ beer.publishedAt | date('d/m/Y h:i:s') }} </small></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
